{% extends 'base.html' %}

{% block css %}
	<style>
		#map {
			height: 100%;
		}
		/* Optional: Makes the sample page fill the window. */
		html, body {
			height: 100%;
			margin: 0;
			padding: 0;
		}
		p {
			font-family: verdana;
			font-size: 32px;
			color: #0070d0;
			text-align: center;
		}
	</style>
{% endblock %}


{% block content %}

	<p> Solution of {{ user }} with cost of {{ cost }} kilometers </p>

	<div id="map"></div>

{% endblock %}

{% block js %}
    <script>
	function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
			//zoom: 4,
			//center: {lat:25.679121, lng: -100.317516},
			scrollwheel: true
        });

		var flightPlanCoordinates;
		var flightPath;
		var customerMarker;
		var bounds = new google.maps.LatLngBounds();
		{% for route in solution %}
			{% for cust in route.customers %}
				customerMarker = new google.maps.Marker({
					map: map,
					icon: {
						path: google.maps.SymbolPath.CIRCLE,
						strokeColor: '{{ route.color }}',
						scale: 4
					},
					position: { 
						lat: {{ cust.latitude }},
						lng: {{ cust.longitude }}
					},
					title: "{{ cust.name }}"
				});
				bounds.extend(customerMarker.getPosition());
			{% endfor %}
			
			flightPlanCoordinates = [
				{% for cust in route.customers %}
					{% if not forloop.first %},{% endif %}
					{ 
						lat: {{ cust.latitude }},
						lng: {{ cust.longitude }}
					}
				{% endfor %}
			];
			flightPath = new google.maps.Polyline({
				path: flightPlanCoordinates,
				geodesic: true,
				strokeColor: '{{ route.color }}',
				strokeOpacity: 1.0,
				strokeWeight: 2,
				map : map
			});
		
		{% endfor %}
					
		map.fitBounds(bounds);
    }
	</script>
 
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0ac8PVDnT9pv5sO3z-TmdQRCuEjq5d28&callback=initMap">
	</script>
{% endblock %}





